@import "variable.scss";

*{
    box-sizing: border-box;
}
body {
    font-size: $base-font !important;
}

a {
    color: $blue;
    text-decoration: none;
}

.top-header {
    height: 70px;
    padding: 0 30px;
    margin-bottom: 0;
    position: fixed;
    background-color: $darkGrey;
    width: 100%;
    display: flex;
    top: 0;
    justify-content: space-between;
    align-items: center;
}
.ui.dropdown{
    color: #FFFFFF;
    .menu.visible {
        display: block;
    }
} 

.logo-wrap {
  color: $whiteColor;
  font-size: 40px;
  display: flex;
  width: 200px;
  height: 100%;
  align-items: center;
}

.sign-up-container {
    position: relative;    
    background-color: #fff;
    padding: 5px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 30px;
    border-radius: 5px;
    -webkit-box-shadow: 0 10px 27px 0 hsla(215,9%,64%,.18);
    box-shadow: 0 10px 27px 0 hsla(215,9%,64%,.18);
    padding: 35px;
    float: left;
    width: 100%;
    margin: 50px 0 0;
    box-sizing: border-box;
    form {
        width: 100%;
        float: left;
    }
}

input {
    height: 48px;
    border: 1px solid #e7eaf0;
    border-top-color: rgb(231, 234, 240);
    border-right-color: rgb(231, 234, 240);
    border-bottom-color: rgb(231, 234, 240);
    border-left-color: rgb(231, 234, 240);
    width: 100%;
    font-size: 15px;
    padding: 0 16px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 3px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    color: #555;
    margin: 0 0 20px;
    box-sizing: border-box;
}

.signup-btn, .signup-btn:focus, .signup-btn:hover {
    background-color: #3ecf8e;
    font-size: 16px;
    padding: 15px 35px;
    outline: 0;
    border-radius: 70px;
    border: 0;
    color: #FFF;
    cursor: pointer;
 }

 .error {
     color: #FF0000;
 }

 .dashboard-content-wrap {
    display: flex;
    padding-top: 70px;
}

.left-panel {
    display: flex;
    width: 223px;
    top: 70px;
    background-color: #456d9f;
    position: fixed;
    height: calc(100vh - 70px);
}

.left-navigation {
    width: 100%; 
}
 
.sideNav {
    margin: 0;
    list-style-type: none;
    padding: 20px 0;
    .sideNav-list {
        display: block;
    }
    .sideNav-list-link {
        color: #fff;
        padding: 12px 25px 12px 30px;
        display: block;
    }
}

.right-panel {
    display: flex;
    padding-left: 223px;
    width: 100%;
}
.dashboard-main-content {
    width: 100%;
    padding: 30px;
}

.calendar-header {
    position: relative;
    padding: 20px;
    border-radius: 2px 2px 0 0;
    background-color: #0277bd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #0277bd;
}

.calendar-year {
    color: hsla(0,0%,100%,.42);
    font-weight: 700;
    font-size: 15px;
}

.calendar-day {
    font-size: 25px;
    line-height: 100%;
    color: #fff;
}

ul.calendar-actions {
    position: absolute;
    right: 20px;
    z-index: 2;
    top: 20px;
    list-style: none;
    li {
        float: left;
        margin-left: 15px;
        a {
            color: #fff;
        }
    }
}
.calendar-wrap {
    width: 65%;
}
.calendar-body {
    border: 1px solid #f2f2f2;;
}
.table-hdrow {
    display: flex;
    .table-cell{
        font-weight: 500;
        padding: 8px;
        font-size: 14px;
        border-right: 1px solid #f2f2f2;
        &:last-child {
            border-right: none;
        }
    }
}
.table-row {
    display: flex;
    min-height: 130px;
    &:last-child .table-cell{
        border-bottom: none;
    }
}

.table-cell {
    max-width: 150px;
    text-align: center;
    border: none;
    border-right: 1px solid #f2f2f2;
    margin-right: -1px;
    margin-top: -1px;
    padding: 10px;
    width: 100%;
    border-bottom: 1px solid #f2f2f2;
    &:last-child {
        border-right: none;
    }
}